#dp_cispa_modal {
	font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	width: 560px;
	height: 475px;
	background-color: #ccc;
	color: black;
	box-shadow: 0 0 15px #333;
	z-index:9999;
	position:absolute;
	margin:auto;
}
#dp_cispa_modal .content {
	/*padding: 15px 20px 15px 30px;*/
        padding:4px;
}

#dp_cispa_modal a {color: #9f1719;}
#dp_cispa_modal p {margin: 0 0 15px 0;}
#dp_cispa_modal p.large {
	font-size: 16px;
	line-height: 23px;
	margin-bottom: 13px;
}
